@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  --gradient: linear-gradient(to right,#6448FE, #600594);
}

/* * {
  background: rgb(0 100 0 / 0.2) !important;
} */

html {
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0.10em;
  font-size: 18px;
}

label {
  font-size: 12px;
}


.card-bg {
  background-image: url(./images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 240px;
}

@media (max-width: 425px) {
  .card-front {
    position: absolute;
    left: 5%;
    top: 20%;
    right: 20%;
  }

  .card-no {
    font-size: 1rem;
  }

  .card-info {
    font-size: 0.55rem;
  }

  .card-back {
    position: absolute;
    left: 20%;
    right: 5%;
  }

  .card-back > span {
    font-size: 0.55em;
    right: 12%;
  }
}

@media (min-width: 768px) {
  .card-bg {
    background-image: url(./images/bg-main-desktop.png);
  }
}

.red-error-border {
  border-color: hsl(0, 100%, 66%) !important;
}

.active-border:active, .active-border:focus {
  background: linear-gradient(white, white) padding-box, var(--gradient) border-box;
  border: 1px solid transparent;
}



/* .month-year > * {
  flex: 1 1 50px;
} */
