@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
html {
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0.15em;
  font-size: 18px;
}

label {
  font-size: 12px;
}


/* .month-year > * {
  flex: 1 1 50px;
} */
