@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  --gradient: linear-gradient(to right,#6448FE, #600594);
}

html {
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0.10em;
  font-size: 18px;
}

label {
  font-size: 12px;
}

.desktop-bg {
  background-image: url(./images/bg-main-desktop.png);
}

.red-error-border {
  border-color: hsl(0, 100%, 66%) !important;
}

.active-border:active, .active-border:focus {
  background: linear-gradient(white, white) padding-box, var(--gradient) border-box;
  border: 1px solid transparent;
}



/* .month-year > * {
  flex: 1 1 50px;
} */
